.HomeContainer {
    height: 90vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Headings {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding-left: 18rem;
    padding-bottom: 8rem;
}
.smallHeadings {
    height: 100%;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding-left: 2rem;
    padding-bottom: 6rem;
}
.illustrations {
    height: 100%;
    width: 60%;
}